﻿<!doctype html>
<html ng-app="MainApp" ng-controller="MainCtrl as ctrl">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="apply-return-main.js"></script>
</head>
<body>
    <div style="width: 750px; font-family: Arial, '文泉驛正黑', 'WenQuanYi Zen Hei', '儷黑 Pro', 'LiHei Pro', '微軟正黑體', 'Microsoft JhengHei', sans-serif; font-style: inherit; font-weight: inherit; font-style: normal; background-color: #FFFFFF">
        <div style="margin: 20px 20px 20px 20px;">
            <img style="margin-top: 20px; width:100px;" src="https://www.xxxxx.com.tw/assets/images/logo/logo_land.png" title="DDDDDDDDDDDDDD" /><br><br>
            <font>訂單編號：<span style='color: red; '>{{orderid}}</span>申請退貨。<br></font>
            <font>退貨原因：<span style='color: red; '>{{applyreason}}</span>。<br></font><br><br>
            <font>申請退貨之訂單資訊如下：</font><br><br>
            <table style="border-collapse:collapse; text-align:center; ">
                <tr style="background-color: #ffffff; ">
                    <td width="200px" style="border-color: #5c87b2;border-style: solid; border-top-width: thin; border-bottom-width: thin; border-left-width: thin;  border-right-width: thin;  padding: 3px;word-wrap: break-word;word-break: break-all;">訂單編號</td>
                    <td width="500px" style="border-color: #5c87b2;border-style: solid; border-top-width: thin; border-bottom-width: thin; border-left-width: thin;  border-right-width: thin;  padding: 3px;word-wrap: break-word;word-break: break-all;">{{orderid}}</td>
                </tr>
                <tr style="background-color: #ffffff; ">
                    <td width="200px" style="border-color: #5c87b2;border-style: solid; border-top-width: thin; border-bottom-width: thin; border-left-width: thin;  border-right-width: thin;  padding: 3px;word-wrap: break-word;word-break: break-all;">會員代號</td>
                    <td width="500px" style="border-color: #5c87b2;border-style: solid; border-top-width: thin; border-bottom-width: thin; border-left-width: thin;  border-right-width: thin;  padding: 3px;word-wrap: break-word;word-break: break-all;">{{userid}}</td>
                </tr>
                <tr style="background-color: #ffffff; ">
                    <td width="200px" style="border-color: #5c87b2;border-style: solid; border-top-width: thin; border-bottom-width: thin; border-left-width: thin;  border-right-width: thin;  padding: 3px;word-wrap: break-word;word-break: break-all;">訂單成立時間</td>
                    <td width="500px" style="border-color: #5c87b2;border-style: solid; border-top-width: thin; border-bottom-width: thin; border-left-width: thin;  border-right-width: thin;  padding: 3px;word-wrap: break-word;word-break: break-all;">{{ordertime}}</td>
                </tr>
                <tr style="background-color: #ffffff; ">
                    <td width="200px" style="border-color: #5c87b2;border-style: solid; border-top-width: thin; border-bottom-width: thin; border-left-width: thin;  border-right-width: thin;  padding: 3px;word-wrap: break-word;word-break: break-all;">取貨方式</td>
                    <td width="500px" style="border-color: #5c87b2;border-style: solid; border-top-width: thin; border-bottom-width: thin; border-left-width: thin;  border-right-width: thin;  padding: 3px;word-wrap: break-word;word-break: break-all;">{{getname}}</td>
                </tr>
                <tr style="background-color: #ffffff; ">
                    <td width="200px" style="border-color: #5c87b2;border-style: solid; border-top-width: thin; border-bottom-width: thin; border-left-width: thin;  border-right-width: thin;  padding: 3px;word-wrap: break-word;word-break: break-all;">付款方式</td>
                    <td width="500px" style="border-color: #5c87b2;border-style: solid; border-top-width: thin; border-bottom-width: thin; border-left-width: thin;  border-right-width: thin;  padding: 3px;word-wrap: break-word;word-break: break-all;">{{payname}}</td>
                </tr>
                <tr style="background-color: #ffffff; ">
                    <td width="200px" style="border-color: #5c87b2;border-style: solid; border-top-width: thin; border-bottom-width: thin; border-left-width: thin;  border-right-width: thin;  padding: 3px;word-wrap: break-word;word-break: break-all;">總金額</td>
                    <td width="500px" style="border-color: #5c87b2;border-style: solid; border-top-width: thin; border-bottom-width: thin; border-left-width: thin;  border-right-width: thin;  padding: 3px;word-wrap: break-word;word-break: break-all;">NT {{totalprice  | currency:'$':'0' }} 元</td>
                </tr>
            </table>
            <br><br>取消票券列表：【{{showname}}】{{eventname}}<br>
            <table style="border-collapse:collapse; text-align:center; ">
                <tr style="background-color: #ffffff; ">
                    <td width="200px" style="border-color: #5c87b2;border-style: solid; border-top-width: thin; border-bottom-width: thin; border-left-width: thin;  border-right-width: thin;  padding: 3px;word-wrap: break-word;word-break: break-all;">票區</td>
                    <td width="200px" style="border-color: #5c87b2;border-style: solid; border-top-width: thin; border-bottom-width: thin; border-left-width: thin;  border-right-width: thin;  padding: 3px;word-wrap: break-word;word-break: break-all;">座位</td>
                    <td width="100px" style="border-color: #5c87b2;border-style: solid; border-top-width: thin; border-bottom-width: thin; border-left-width: thin;  border-right-width: thin;  padding: 3px;word-wrap: break-word;word-break: break-all;">票種</td>
                    <td width="200px" style="border-color: #5c87b2;border-style: solid; border-top-width: thin; border-bottom-width: thin; border-left-width: thin;  border-right-width: thin;  padding: 3px;word-wrap: break-word;word-break: break-all;">票價</td>
                </tr>
                <tr style="background-color: #ffffff; " ng-repeat="ticket in ctrl.Tickets">
                    <td width="200px" style="border-color: #5c87b2;border-style: solid; border-top-width: thin; border-bottom-width: thin; border-left-width: thin;  border-right-width: thin;  padding: 3px;word-wrap: break-word;word-break: break-all;">{{ticket.area_name}}</td>
                    <td width="200px" style="border-color: #5c87b2;border-style: solid; border-top-width: thin; border-bottom-width: thin; border-left-width: thin;  border-right-width: thin;  padding: 3px;word-wrap: break-word;word-break: break-all;">{{ticket.seat_name}}</td>
                    <td width="100px" style="border-color: #5c87b2;border-style: solid; border-top-width: thin; border-bottom-width: thin; border-left-width: thin;  border-right-width: thin;  padding: 3px;word-wrap: break-word;word-break: break-all;">{{ticket.ticket_name}}</td>
                    <td width="200px" style="border-color: #5c87b2;border-style: solid; border-top-width: thin; border-bottom-width: thin; border-left-width: thin;  border-right-width: thin;  padding: 3px;word-wrap: break-word;word-break: break-all;">{{ticket.ticket_price}} 元</td>
                </tr>
            </table>
            <br>
            <br>
            <font>
                <hr>
            </font>
            <font>AAAA | BBBB | CCCCCC</font><br>
            <font>@DDDDDDDDDDDDDD</font><br>
            <font>Tel: 886-2-1234-5678</font><br>
            <font>Fax: 886-2-1234-5678</font><br>
            <font>Web: <a href="https://www.facebook.com/DDDDDDDDDDDDDD" style="color:blue">https://www.facebook.com/DDDDDDDDDDDDDD</a></font><br>
            <font>Add: 106 何有市何有區何有路一段 123 號 4 樓</font><br>
            <font style="margin-bottom: 20px;">
                <hr>
            </font><label>&nbsp;</label><br>
        </div>
    </div>
</body>
</html>