﻿<!doctype html>
<html ng-app="app">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="components.js"></script>
    <script src="app.js"></script>
</head>
<body>
    <tabs>
        <pane title="Localization">
            <span>Date: {{ '2012-04-01' | date:'fullDate' }}</span><br>
            <span>Currency: {{ 123456 | currency }}</span><br>
            <span>Number: {{ 98765.4321 | number }}</span><br>
        </pane>
        <pane title="Pluralization">
            <div ng-controller="BeerCounter">
                <div ng-repeat="beerCount in beers">
                    <ng-pluralize count="beerCount" when="beerForms"></ng-pluralize>
                </div>
            </div>
        </pane>
    </tabs>
</body>
</html>